<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" />
</head>

<body>
    <div class="sign-uplogin">
        
        <img class="object-icon" loading="lazy" alt="" src="./public/object@2x.png" />

        <section class="onboarding">
            <div class="onboarding-step">
                <div class="progress-indicator"></div>
                <footer class="progress-indicator1"></footer>
                <div class="onboard">
                    <div class="frame">
                        <div class="login-hero">
                            <div class="hero-background"></div>
                            <div class="login-inputs">
                                <div class="solver-input">
                                    <div class="solver-placeholder">
                                        <div class="solver-icon">
                                            <div class="solvei">
                                                <span>Solve</span>
                                                <span class="i">I</span>
                                            </div>
                                            <div class="input-indicator"></div>
                                        </div>
                                    </div>
                                    <img class="final-8-icon" loading="lazy" alt="" src="./public/final-8@2x.png" />
                                </div>
                            </div>
                            <img class="illustration-business-workf" loading="lazy" alt=""
                                src="./public/illustration--business-workflow-cowormeeting-conversation-discussion-team-work-man-woman.svg" />

                            <div class="innovating-for-your">
                                Innovating for your Success
                            </div>
                        </div>
                        <div class="frame-child"></div>
                        <div class="signup-inputs-wrapper">
                            <form class="signup-inputs">
                                <h2 class="welcome">Welcome</h2>
                                <div class="email-input">
                                    <div class="enter-email-id">Enter Email ID</div>
                                    <input class="full-name-box" placeholder="Enter full name" type="text" />
                                </div>
                                <div class="or">(OR)</div>
                                <div class="mobile-input">
                                    <div class="enter-mobile-no">Enter Mobile No.</div>
                                    <input class="email-box" placeholder="91+ " type="text" />
                                </div>
                                <button class="log-in-btn">
                                    <div class="next">Next</div>
                                </button>
                            </form>
                        </div>
                        <div class="frame-item"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>