body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --p-minus-bold: Poppins;
  --font-lato: Lato;
  --paragraph-p2-16: Inter;

  /* font sizes */
  --p-minus-bold-size: 12px;
  --h1-size: 20px;
  --paragraph-p2-16-size: 16px;
  --caps-caps-3-10-semi-bold-size: 10px;
  --paragraph-p3-13-size: 13px;

  /* Colors */
  --white: #f5f5f5;
  --background-100: #f1f6f8;
  --color-whitesmoke-100: #e4ecee;
  --white-sec: #fff;
  --secondary: #4d8f9b;
  --primary-1-old-blue08: #0069d1;
  --primary-1-old-blue09: #0054b3;
  --color-gray: rgba(118, 118, 118, 0.7);
  --black: #2d2d36;
  --color-midnightblue: #001d86;
  --color-goldenrod: #d7ad1a;
  --light-grayscale-300: #969696;

  /* Gaps */
  --gap-9xs: 4px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-base: 16px;

  /* Effects */
  --light-drop-shadow-2: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.x-base1-one-linerighticon {
  position: absolute;
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
}
.security-icon,
.security1 {
  position: absolute;
  top: calc(50% - 12px);
}
.security1 {
  left: 48px;
  line-height: 24px;
}
.security-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
}
.security {
  height: 44px;
  width: 272px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.worklows {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
}
.add-icon,
.worklows-parent {
  position: absolute;
  height: 24px;
}
.add-icon {
  top: 0;
  right: 0;
  width: 24px;
  display: none;
}
.worklows-parent {
  top: calc(50% - 176px);
  left: calc(50% - 124px);
  width: 240px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-minus-bold-size);
  color: var(--white-sec);
}
.general {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
}
.add-icon1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  display: none;
}
.general-parent {
  top: calc(50% + 12px);
  left: calc(50% - 124px);
  width: 240px;
  height: 24px;
  overflow: hidden;
  text-align: left;
  font-size: var(--p-minus-bold-size);
  color: var(--white-sec);
}
.general-parent,
.right,
.text {
  position: absolute;
}
.text {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.burst-mode-icon,
.gallery {
  position: absolute;
  top: calc(50% - 12px);
}
.gallery {
  left: 48px;
  line-height: 24px;
}
.burst-mode-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel1 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line {
  top: calc(50% - 144px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.one-line,
.right1,
.text1 {
  position: absolute;
}
.text1 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right1 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.device-hub-icon,
.intergrations {
  position: absolute;
  top: calc(50% - 12px);
}
.intergrations {
  left: 48px;
  line-height: 24px;
}
.device-hub-icon {
  left: 12px;
  width: 24px;
  height: 24px;
}
.x-base1-one-lineleftlabel2 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line1 {
  top: calc(50% + 44px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.one-line1,
.right2,
.text2 {
  position: absolute;
}
.text2 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right2 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.devices-icon,
.workflows {
  position: absolute;
  top: calc(50% - 12px);
}
.workflows {
  left: 48px;
  line-height: 24px;
}
.devices-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel3 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line2 {
  top: calc(50% - 100px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.one-line2,
.right3,
.text3 {
  position: absolute;
}
.text3 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right3 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.group-icon,
.users {
  position: absolute;
  top: calc(50% - 12px);
}
.users {
  left: 48px;
  line-height: 24px;
}
.group-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel4 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line3 {
  top: calc(50% + 88px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.one-line3,
.right4,
.text4 {
  position: absolute;
}
.text4 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right4 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.list-alt-icon,
.my-tasks {
  position: absolute;
  top: calc(50% - 12px);
}
.my-tasks {
  left: 48px;
  line-height: 24px;
}
.list-alt-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel5 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line4 {
  top: calc(50% - 56px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.one-line4,
.right5,
.text5 {
  position: absolute;
}
.text5 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right5 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.settings,
.settings-icon {
  position: absolute;
  top: calc(50% - 12px);
}
.settings {
  left: 48px;
  line-height: 24px;
}
.settings-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel6 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line5 {
  position: absolute;
  top: calc(50% + 132px);
  left: calc(50% - 136px);
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.other-nav-items {
  height: 352px;
  width: 272px;
  position: relative;
  display: none;
}
.right6,
.text6 {
  position: absolute;
}
.text6 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right6 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.people,
.supervised-user-circle-icon {
  position: absolute;
  top: calc(50% - 12px);
}
.people {
  left: 48px;
  line-height: 24px;
}
.supervised-user-circle-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel7 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.one-line6 {
  height: 44px;
  width: 272px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.right7,
.text7 {
  position: absolute;
}
.text7 {
  top: calc(50% - 10px);
  right: 12px;
  line-height: 20px;
}
.right7 {
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
  display: none;
}
.teams,
.work-icon {
  position: absolute;
  top: calc(50% - 12px);
}
.teams {
  left: 48px;
  line-height: 24px;
}
.work-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel8 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
  color: var(--white-sec);
}
.div,
.one-line7 {
  position: relative;
}
.one-line7 {
  height: 44px;
  width: 272px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.div {
  align-self: stretch;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.counter {
  position: absolute;
  top: calc(50% - 8px);
  right: 12px;
  border-radius: 96px;
  background-color: #0085ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px;
}
.x-base1-one-linerightcount {
  position: absolute;
  top: calc(50% - 22px);
  right: 0;
  width: 80px;
  height: 44px;
}
.chat-icon,
.request {
  position: absolute;
  top: calc(50% - 12px);
}
.request {
  left: 48px;
  line-height: 24px;
}
.chat-icon {
  left: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.x-base1-one-lineleftlabel9 {
  position: absolute;
  width: calc(100% - 80px);
  top: calc(50% - 22px);
  right: 80px;
  left: 0;
  height: 44px;
  text-align: left;
  font-size: var(--paragraph-p2-16-size);
}
.one-line8 {
  height: 44px;
  width: 272px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  text-align: center;
  font-size: var(--caps-caps-3-10-semi-bold-size);
  color: var(--white-sec);
}
.object-icon {
  height: 0;
  width: 0;
  position: relative;
  object-fit: cover;
}
.progress-indicator,
.progress-indicator1 {
  height: 752px;
  width: 752px;
  position: absolute;
  margin: 0 !important;
  filter: blur(716.9px);
  border-radius: 50%;
  background-color: var(--primary-1-old-blue09);
}
.progress-indicator {
  top: -318px;
  right: -244px;
}
.progress-indicator1 {
  bottom: -192px;
  left: -459px;
}
.hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(25, 148, 255, 0.12);
}
.i {
  color: var(--color-goldenrod);
}
.input-indicator,
.solvei {
  position: absolute;
  z-index: 1;
}
.solvei {
  top: 4.9px;
  left: 0;
  letter-spacing: 1.75px;
  line-height: 29.21px;
  text-transform: capitalize;
  white-space: nowrap;
}
.input-indicator {
  top: 0;
  left: 77.1px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 7px;
  height: 7px;
}
.solver-icon {
  align-self: stretch;
  height: 34.9px;
  position: relative;
}
.solver-placeholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.5px;
}
.final-8-icon {
  height: 52px;
  width: 28.6px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.login-inputs,
.solver-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.solver-input {
  flex: 1;
  align-items: flex-end;
  gap: 5px;
}
.login-inputs {
  width: 157.7px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.illustration-business-workf {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.innovating-for-your {
  width: 86.8px;
  position: relative;
  font-size: 5.8px;
  line-height: 8.18px;
  display: none;
  z-index: 3;
}
.login-hero {
  height: 604px;
  width: 442px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 29px 8px 12px;
  box-sizing: border-box;
  position: relative;
  gap: 62px;
  min-width: 442px;
  max-width: 100%;
}
.frame-child {
  height: 41px;
  width: 258px;
  display: none;
}
.enter-email-id,
.welcome {
  position: relative;
  font-weight: 600;
  font-family: var(--p-minus-bold);
  text-align: left;
  display: inline-block;
}
.welcome {
  margin: 0;
  font-size: var(--h1-size);
  color: var(--black);
  min-width: 97px;
}
.enter-email-id {
  font-size: var(--p-minus-bold-size);
  color: var(--primary-1-old-blue08);
  min-width: 83px;
}
.email-input,
.full-name-box {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.full-name-box {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  height: 44px;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-smi);
  box-sizing: border-box;
  font-family: var(--p-minus-bold);
  font-weight: 600;
  font-size: var(--p-minus-bold-size);
  color: var(--color-gray);
  min-width: 200px;
}
.email-input {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.enter-mobile-no,
.or {
  position: relative;
  font-size: var(--p-minus-bold-size);
  font-weight: 600;
  font-family: var(--p-minus-bold);
  text-align: left;
  display: inline-block;
}
.or {
  width: 92px;
  color: var(--color-gray);
}
.enter-mobile-no {
  color: var(--primary-1-old-blue08);
  min-width: 98px;
}
.email-box,
.mobile-input {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-box {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke-100);
  height: 38px;
  border-radius: var(--br-base);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-smi);
  box-sizing: border-box;
  font-family: var(--p-minus-bold);
  font-weight: 600;
  font-size: var(--p-minus-bold-size);
  color: var(--color-gray);
  min-width: 200px;
}
.mobile-input {
  flex-direction: column;
  gap: var(--gap-9xs);
}
.next {
  position: relative;
  font-size: var(--p-minus-bold-size);
  font-weight: 600;
  font-family: var(--p-minus-bold);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 28px;
}
.log-in-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-1-old-blue08);
  align-self: stretch;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.log-in-btn:hover {
  background-color: #268ff7;
}
.signup-inputs,
.signup-inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.signup-inputs {
  margin: 0;
  align-self: stretch;
  gap: 24px;
}
.signup-inputs-wrapper {
  height: 444px;
  width: 333px;
  min-width: 333px;
  max-width: 100%;
}
.frame-item {
  height: 34px;
  width: 34px;
  position: relative;
  border-radius: 50%;
  background-color: var(--secondary);
  display: none;
}
.frame,
.onboard {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  max-width: 100%;
}
.frame {
  backdrop-filter: blur(10px);
  background-color: var(--white);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 75px;
}
.onboard {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-base);
  border: 1px solid var(--white-sec);
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 1;
}
.onboard,
.onboarding,
.onboarding-step,
.sign-uplogin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.onboarding-step {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.onboarding,
.sign-uplogin {
  box-sizing: border-box;
}
.onboarding {
  width: 1051px;
  flex-direction: column;
  padding: 149px 0 0;
  max-width: calc(100% - 158px);
  text-align: left;
  font-size: 29.2px;
  color: var(--color-midnightblue);
  font-family: var(--font-lato);
}
.sign-uplogin {
  width: 100%;
  box-shadow: var(--light-drop-shadow-2);
  background-color: var(--background-100);
  max-width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 150px;
  gap: 158px;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  font-size: var(--paragraph-p3-13-size);
  color: var(--light-grayscale-300);
  font-family: var(--paragraph-p2-16);
}
@media screen and (max-width: 1200px) {
  .sign-uplogin {
    gap: 79px;
  }
}
@media screen and (max-width: 1050px) {
  .login-hero,
  .signup-inputs-wrapper,
  .solver-input {
    flex: 1;
  }
  .frame {
    flex-wrap: wrap;
    gap: 37px;
  }
}
@media screen and (max-width: 750px) {
  .login-hero {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .onboarding {
    padding-top: 97px;
    box-sizing: border-box;
  }
  .sign-uplogin {
    gap: 39px;
  }
}
@media screen and (max-width: 450px) {
  .solvei {
    font-size: 23px;
    line-height: 23px;
  }
  .login-hero {
    gap: 31px;
  }
  .welcome {
    font-size: var(--paragraph-p2-16-size);
  }
  .frame {
    gap: 19px;
  }
  .sign-uplogin {
    gap: 20px;
  }
}
