<!-- <button>Back</button>
<form [formGroup]="signupDetailsForm" (ngSubmit)="onSubmit()">
    <label for="orgName">Organization Name : </label>
    <input id="orgName" type="text" formControlName="orgName">
    <br>

    <label for="orgId">Organization id : </label>
    <input id="orgId" type="text" formControlName="orgId">
    <br>

    <label for="designation">Designation : </label>
    <input id="designation" type="text" formControlName="designation">

    <br>
    <label for="birthDate">Birth Date : </label>
    <input id="birthDate" type="date" formControlName="birthDate">

    <br>
    <div>
        <span>
            <label for="city">City : </label>
            <input id="city" type="text" formControlName="city">
        </span>
        <span>
            <label for="pincode">Pincode : </label>
            <input id="pincode" type="number" formControlName="pincode">
        </span>
    </div>

    <button type="submit">Submit</button>
</form> -->

<main class="flex overflow-hidden flex-col items-center px-16 pt-10 pb-10  shadow bg-sky-700 bg-opacity-50 ">
    <section class="overflow-hidden pr-20 w-auto backdrop-blur-[5px] bg-neutral-100  max-md:pr-5 rounded-2xl">
        <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-[57%] max-md:ml-0 max-md:w-full">
                <div
                    class="flex flex-col grow px-2 pt-7 pb-20 w-full bg-sky-500 bg-opacity-10 max-md:mt-10 max-md:max-w-full">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/29af211ca535d12355851d1da799e01099ac267390c94b289120a93b1dac4979?placeholderIfAbsent=true&apiKey=55723c1937ee410f8c1a0d0f7546229b"
                        alt="Company logo"
                        class="object-contain ml-5 max-w-full aspect-[2.27] w-[118px] max-md:ml-2.5" />
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f5dccf329db19f3f99b6154b6ac8b98ce93afb9aafb83f7b456adc7ff3290dca?placeholderIfAbsent=true&apiKey=55723c1937ee410f8c1a0d0f7546229b"
                        alt="Illustration of account creation process"
                        class="object-contain mt-16 w-full aspect-[0.93] max-md:mt-10" />
                </div>
            </div>
            <div class="flex flex-col ml-5 w-[43%] max-md:ml-0 max-md:w-full">
                <div class="flex flex-col self-stretch my-auto max-md:mt-10">
                    <a [routerLink]="['/signup']">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/fb772dc40c5e81858ff74c1366d91cc36afb400885f6c963493cc38bd82e2ad6?placeholderIfAbsent=true&apiKey=55723c1937ee410f8c1a0d0f7546229b"
                            alt="" class="object-contain w-6 aspect-square" />
                    </a>
                    <div class="flex relative flex-col mt-4 w-full">
                        <h1 class="self-start text-xl font-semibold text-gray-800">Create Account</h1>
                        <div class="flex z-0 gap-1 items-center mt-4 max-w-full w-[332px]">
                            <div class="flex shrink-0 self-stretch my-auto h-2 bg-sky-600 rounded-[215px] w-[165px]">
                            </div>
                            <div class="flex shrink-0 self-stretch my-auto h-2 bg-sky-600 rounded-[215px] w-[165px]">
                            </div>
                        </div>
                        <form [formGroup]="signupDetailsForm" (ngSubmit)="onSubmit($event)">
                            <div
                                class="flex z-0 flex-col mt-6 max-w-full text-xs font-semibold whitespace-nowrap w-[333px]">
                                <label for="org-name" class="text-sky-600">Organisation-name</label>
                                <div class="flex flex-col mt-1 w-full max-w-[333px] text-neutral-500">
                                    <input type="text" id="org-name" formControlName="orgName" name="orgName"
                                        placeholder="Organisation-name"
                                        class="flex gap-2.5 justify-center items-center py-3.5 pr-24 pl-3.5 rounded-2xl bg-slate-200 min-h-[44px] max-md:pr-5 w-full" />
                                </div>

                                <div *ngIf="signupDetailsForm.get('orgName')?.invalid && (signupDetailsForm.get('orgName')?.touched || signupDetailsForm.get('orgName')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('orgName')?.errors?.['required']">Organization Name
                                        is
                                        required.</p>
                                </div>
                            </div>
                            <div class="flex z-0 flex-col mt-6 max-w-full text-xs font-semibold w-[333px]">
                                <label for="org-id" class="text-sky-600">Organisation-id</label>
                                <div class="flex flex-col mt-1 w-full max-w-[333px] text-neutral-500">
                                    <input type="text" id="org-id" formControlName="orgId" name="orgId"
                                        placeholder="Organisation-id"
                                        class="flex gap-2.5 justify-center items-center py-2.5 pr-24 pl-3.5 rounded-2xl bg-slate-200 max-md:pr-5 w-full" />
                                </div>
                                <div *ngIf="signupDetailsForm.get('orgId')?.invalid && (signupDetailsForm.get('orgId')?.touched || signupDetailsForm.get('orgId')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('orgId')?.errors?.['required']">Organization Id is
                                        required.</p>
                                </div>
                            </div>
                            <div
                                class="flex z-0 flex-col mt-6 max-w-full text-xs font-semibold whitespace-nowrap w-[333px]">
                                <label for="designation" class="text-sky-600">Designation</label>
                                <div class="flex flex-col mt-1 w-full max-w-[333px] text-neutral-500">
                                    <input type="text" id="designation" formControlName="designation" name="designation"
                                        placeholder="Designation"
                                        class="flex gap-2.5 justify-center items-center py-2.5 pr-24 pl-3.5 rounded-2xl bg-slate-200 max-md:pr-5 w-full" />
                                </div>
                                <div *ngIf="signupDetailsForm.get('designation')?.invalid && (signupDetailsForm.get('designation')?.touched || signupDetailsForm.get('designation')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('designation')?.errors?.['required']">Designation
                                        is
                                        required.</p>
                                </div>
                            </div>
                            <div
                                class="flex z-0 flex-col mt-6 max-w-full text-xs font-semibold whitespace-nowrap w-[333px]">
                                <label for="birth-date" class="text-sky-600">Birth-date</label>
                                <div class="flex flex-col mt-1 w-full max-w-[333px] text-neutral-500">
                                    <input type="date" id="birth-date" formControlName="birthDate" name="birthDate"
                                        class="flex gap-2.5 justify-center items-center py-2.5 pr-24 pl-3.5 rounded-2xl bg-slate-200 max-md:pr-5 w-full" />
                                </div>
                                <div *ngIf="signupDetailsForm.get('birthDate')?.invalid && (signupDetailsForm.get('birthDate')?.touched || signupDetailsForm.get('birthDate')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('birthDate')?.errors?.['required']">Birth Date is
                                        required.</p>
                                </div>
                            </div>
                            <div
                                class="flex z-0 flex-col mt-6 max-w-full text-xs font-semibold whitespace-nowrap w-[143px]">
                                <label for="city" class="text-sky-600">City</label>
                                <div class="flex flex-col mt-1 w-full text-neutral-500">
                                    <input type="text" id="city" formControlName="city" name="city" placeholder="City"
                                        class="flex gap-2.5 justify-center items-center py-2.5 pr-16 pl-3.5 rounded-2xl bg-slate-200 max-md:pr-5 w-full" />
                                </div>
                                <div *ngIf="signupDetailsForm.get('city')?.invalid && (signupDetailsForm.get('city')?.touched || signupDetailsForm.get('city')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1" *ngIf="signupDetailsForm.get('city')?.errors?.['required']">
                                        City is
                                        required.</p>
                                </div>
                            </div>
                            <div
                                class="flex absolute right-1.5 z-0 flex-col max-w-full text-xs font-semibold whitespace-nowrap bottom-[62px] w-[143px]">
                                <label for="pincode" class="text-sky-600">Pincode</label>
                                <div class="flex flex-col mt-1 w-full text-neutral-500">
                                    <input type="text" id="pincode" formControlName="pincode" name="pincode"
                                        placeholder="Pincode"
                                        class="flex gap-2.5 justify-center items-center py-2.5 pr-16 pl-3.5 rounded-2xl bg-slate-200 max-md:pr-5 w-full" />
                                </div>
                                <div *ngIf="signupDetailsForm.get('pincode')?.invalid && (signupDetailsForm.get('pincode')?.touched || signupDetailsForm.get('pincode')?.dirty)"
                                    class="text-red-500">
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('pincode')?.errors?.['required']">
                                        Pincode is
                                        required.</p>
                                    <p class="text-xs mt-1"
                                        *ngIf="signupDetailsForm.get('pincode')?.errors?.['minlength']">
                                        Minimum 6 characters are required.</p>
                                </div>
                            </div>
                            <button type="submit" [disabled]="signupDetailsForm.invalid" [ngClass]="{ 
                                'bg-sky-600 text-neutral-100': !signupDetailsForm.invalid,
                                'bg-gray-400 text-gray-200': signupDetailsForm.invalid,
                                'cursor-pointer': !signupDetailsForm.invalid,
                                'cursor-not-allowed opacity-70': signupDetailsForm.invalid
                              }"
                                class="gap-2.5 self-stretch p-2.5 mt-6 max-w-full text-xs font-semibold whitespace-nowrap bg-sky-600 rounded-2xl text-neutral-100 w-[332px]">
                                Next
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>